[run]
omit =
    data_ml_utils/client_boto3/__init__.py
    data_ml_utils/core/__init__.py
    data_ml_utils/core/config.py
    data_ml_utils/pyathena_client/__init__.py
    tests/__init__.py
    tests/conftest.py
    tests/data_ml_utils/pyathena_client/test_client.py
    tests/data_ml_utils/core/test_pyathena_utils.py
    tests/data_ml_utils/boto3_botocore_client/test_client_emr.py
    tests/data_ml_utils/boto3_botocore_client/test_client_initialisation.py
    tests/data_ml_utils/boto3_botocore_client/test_client_sagemaker.py
